*{
  margin: 0;              /*   To reset browser   */
  padding: 0;             /*default values(if any)*/
  box-sizing: border-box; /*https://www.w3schools.com/css/css3_box-sizing.asp*/
}
body{
  background: #f1f3f6;
  text-decoration: none;
  font-family: Arial, Sans-serif;
  min-height: 140vh;
  background: #f1f3f6;
}

.none{
  display: none;
}

.flex{
  display: flex;
}

.fa{
  margin: 0px 4px;
}

.fa-angle-down{
  font-weight: lighter;
  margin: 0;
}

.fa-user{
  border-radius: 50%;
}

/*nav and head*/
.top_navbar{
  background-color: #2874f0;
  height: 56px;
  position: sticky;
  top: 0;
  z-index: 2;
}
.nav_container{
  align-items: center;
  max-width: 1248px;
  margin: auto;
  width: 100%;
  position: relative;
  left: 61px;
}

.nav_logo{
  flex-direction: column;
  width: fit-content;
}

.explore_plus{
  cursor: pointer;
  text-decoration: none;
  color: whitesmoke;
  font-size: 9px;
  font-style: italic;
  margin-top: -5px;
}

.logo img{
  width: 75px;
}

.explore_plus:hover{
  text-decoration: underline;
}

.exploreplus img{
  width: 10px;
}

.plus{
  color: #ffe500;
  margin: 0px 2px;
  font-weight: bold;
}

.search_bar_container{
  min-width: 304px;
  width: 708px;
}

.search_bar{
  max-width: 564px;
  width: 100%;
  margin-left: 10px;
  box-shadow: 0px 2px 4px 0 rgb(0, 0, 0/23%);
}

.search_box{
  border: none;
  padding: 0px 16px;
  height: 36px;
  border-radius: 2px 0px 0px 2px;
  border-radius: 0;
  width: 100%;
  font-size: 14px;
}

.search_button{
  background: white;
  border: 1px solid white;
  padding: 4px 12px 4px 8px;
  width: 44px;
  height: 36px;
  cursor: pointer;
  border-radius: 0px 2px 2px 0px;
  color: #2874f0;
  font-size: 19px;
}

.login{
  position: relative
}

.login_btn{
  color: #2874f0;
  border-radius: 2px;
  border: 1px solid #dbdbdb;
  background: white;
  letter-spacing: 1px;
  height: 32px;
  padding: 6px 40px;
  font-weight: bold;
  margin: 0px 20px;
  cursor: pointer;
  text-decoration: none;
  font-size: 16px;
}

.more, .cart, .seller{
  position: relative;
  left: 45px;
}

.more_lan, .cart_lan, .seller_lan{
  color: white;
  font-weight: bold;
  margin: 0px 20px;
  cursor: pointer;
  font-size: 16px;
}

.heading_categories{
  background: white;
  justify-content: center;
  min-height: 112px;
  border-bottom: 2px solid lightgrey;
}

.heading_category_list{
  list-style: none;
  max-width: 1280px;
  justify-content: space-between;
  width: 100%
}

.heading_category_items{
  padding-left: 12px 8px;
  cursor: pointer;
  text-align: center;
}

.heading_category_items:hover{
  color: #2874f0;
}

.cat_image{
  height: 64px;
  width: 64px;
  margin-bottom: 3px;
}

.heading_item_name{
  font-size: 14px;
  font-weight: 550;
}

.heading_category_items:first-child{
  padding-left: 22px;
}

.heading_category_items:last-child{
  padding-right: 22px;
}

.pointer{
  width: 20px;
  height: 20px;
  background: white;
  transform: rotate(45deg);
  position: relative;
  top: 10px;
  left: 50%;
}

.login_dropdown, .more_dropdown{
  position: relative;
  top: 12px;
}

.more_dropdown{
  right: 40px;
}

.login_dropdown_list, .more_dropdown_list{
  position: absolute;
  list-style: none;
  background-color: white;
  width: max-content;
  box-shadow: 0 4px 16px 0 rgb(0, 0, 0/20%);
  min-width: 240px;
  transform: translate(-30px);
}

.login_drop_li, .more_drop_li{
  padding: 16px 20px;
  border-bottom: 1px solid #f0f0f0;
  font-size: 14px;
  cursor: pointer;
}

.login_drop_li:last-child, .more_drop_li:last-child{
  border-top: none;
}

.login_drop_li:first-child{
  padding: 20px;
}

.login_drop_li:first-child:hover{
  background: white;
}

.login_drop_li:hover, .more_drop_li:hover{
  background: #fafafa;
}

.new-login{
  font-weight: bold;
}

.sign_li{
  justify-content: space-between;
  font-size: 14px;
}

.sign_up{
  text-decoration: none;
  color: #2874f0;
}

.login:hover .login_btn, .more:hover .more_lan{
  position: relative;
  top: 10px;
}

.more_pointer{
  left: 80%;
}

.more_icon{
  width: 25px;
  color: #2874f1;
}

.login:hover .login_dropdown, .more:hover .more_dropdown{
  display:block;
}

/* corousel */
.nav_button{
  position: absolute;
}

.carousel_btn{
  position: relative;
  border-radius: 4px 4px 4px 4px;
  font-size: 40px;
  background: hsla(0, 0%, 100%, .98);
  width: 47px;
  height: 104px;
  align-items: center;
  justify-content: center;
  box-shadow: 0 1px 5px 0 rgb(0, 0, 0/11%);
  cursor: pointer;
  top: 90px;
}

.prev_btn{
  left: 0;
  margin-left: 162px;
}

.next_prev{
  font-weight: bold;
}

.next_btn{
  right:0;
  margin-right: 162px;
}

.carousel_item_container{
  margin: auto;
  max-width: 1608px;
  min-width: 978px;
  overflow: hidden;
  padding-top: 10px;
}

.carousel_items{
  width: 100%;
}

.carousel_image{
  width: 100%;
  height: 280px;
  padding: 8px;
}

/* Deals of the day */
.div_2{
  margin-left: 8.5%;
  margin-right: 8.5%;
  justify-content: space-around;
}
.deals{
  background: white;
  width: 1330px;
}

.deal_head{
  align-items: center;
  padding: 10px;
  border-top: 1px solid #e3e1e1;
  border-bottom: 1px solid #e3e1e1;
}

.deal_head a:last-child{
  margin-left: auto;
}

.timer{
  margin-left: 50px;
  margin-right: 10px;
}

.time{
  color: #7f7f7f;
}

.deal_head h2{
  font-size: 22px;
  font-weight: 500;
}

.view{
  background: #2874f0;
  color: white;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
  border: none;
  padding: 10px 20px;
  font-size: 13px;
  font-weight: 500;
  cursor: pointer;
  text-decoration: none;
  border-radius: 2px;
}

.deal_list{
  justify-content: space-evenly;
  padding: 40px;
  font-size: 14px;
}

.deal_item{
  flex-direction: column;
  text-align: center;
  line-height: 37px;
  align-items: center;
  justify-content: center;
}
.deal_item img{
  height: 100px;
  width: 100px;
}

.offer{
  color: #388e3c;
}

.thirdline{
  color: #737373;
}

.furn_ad img{
  height: 340px;
  width: 240px;
}

.furn_ad{
  background: white;
  padding: 10px;
}

/* div-3 */
.div_3{
  justify-content: center;
  margin-left: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.div_3 img{
  width: 90.8%;
}

/* div-4 */
.div_4{
  background: white;
  padding: 40px;
}

.div_4 h1{
  font-size: 16px;
  margin-bottom: 10px;
  color: #878787;
}

.div_4 h2{
  font-size: 14px;
  margin-bottom: 10px;
  color: #878787;
}

.div_4 p{
  line-height: 16px;
  font-size: 11px;
  color: #878787;
}
